# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directory
node_modules

# Cache directory
.npm
.cache-loader

# Optional REPL history
.node_repl_history

# OS X
.DS_STORE

# Logs
logs
*.log
npm-debug.log*

# Project
config.js